@import '../../styles/variable';

.userComp-medium {
    height: 56px;

    div+div {
        margin-left: 16px;
    }
}
.userComp-small {
    height: 42px;

    div+div {
        margin-left: 12px;
    }
}

.avatar-wrapper {
    border: 1px solid $border-color-light-theme;
    border-radius: 50%;
    overflow: hidden;
  @apply dark:border-[#262626];

}

.avatar-medium {
    height: 56px;
    width: 56px;
}
.avatar-small {
    height: 42px;
    width: 42px;
}

.avatar-img {
    user-select: none;
}

.userLabel__name-xs,
.userLabel__name-small,
.userLabel__name-medium
 {
    font-size: 13px;
}

.userLabel__name-big {
    font-size: 14px;
}