$text-color-light-theme: #262626;
$text-color-dark-theme: #FAFAFA;
$border-color-light-theme: rgb(218, 221, 225);
$hover-color-light-theme: rgb(250, 250, 250);

$sidebar-width: 245px;
$subSidebar-ml: 80px;
