$text-color-light-theme: #262626;
$text-color-dark-theme: #FAFAFA;
$blue-primary: #0095f6;
$red-primary: #ff3040;
$border-color-light-theme: #dadde1;
$hover-color-light-theme: #fafafa;

$sidebar-width: 245px;
$subSidebar-ml: 80px;
