@import '../../../styles/variable';

.comment__input-wrapper {
    display: flex;
    align-items: center;
}

.comment__input {
    font-size: 14px;
    resize: none;
    height: 22px;
    max-height: 80px;
    overflow-y: auto;

    &::placeholder {
        color: #666;
        font-size: 13px;
    }

    &:focus-visible {
        outline: unset;
    }
}

.dropdown-comment-emoji {
    position: absolute;
    left: 0;
    bottom: 0;
}