// Css wrapper
.search__func-wrapper {
    border-bottom: 1px solid rgb(219, 219, 219);
    @apply dark:border-b-[#262626]
}
.search__history-wrapper {

}

.search__func-wrapper,
.search__history-wrapper {
    padding: 28px 18px;
}
// Css input
.search__input-wrapper {
    position: relative;
}
.search__input {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 12px 6px 35px;
    border-radius: 8px;
    outline: none;

    &:focus-visible {
        outline: none;
    }
    &::placeholder {
        font-size: 14px;
        font-weight: 500;
    }
}

.search__input-icon--left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10px;
}

.clear-searchInput-btn,
.search__input-icon--spinner {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.search__input-icon--spinner {
    animation: spin 1s linear infinite;
}

.result-width {
    width: 397px;
}
.search__result-list {
    overflow-y: overlay;
}
.search__result-item {
    display: flex;
    align-items: center;
    padding: 2px 18px;
    height: 60px;
    
    &:hover {
        cursor: pointer;
        background-color: rgb(250, 250, 250);
        @apply dark:bg-[#121212]
    }
}
// Css history


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}