@import "../.././styles/_variable";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.7);
  overflow-y: auto;
  z-index: 9999;
}

.modal__close-icon {
  position: absolute;
  font-size: 28px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal__box-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 90vh;
  background-color: #fff;
  border-radius: 20px;
  animation: scaleModal .1s linear;
}

.modal__title-wrapper {
  padding: 0 0 12px 0;
  border-bottom: 1px solid $border-color-light-theme;
}

.modal__body-wrapper {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-top: 8px;
  overflow-y: overlay;
}

.modal__caption {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(181, 181, 181);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

.modal__caption-input {
  min-height: 110px;
  width: 100%;
  padding: 6px 8px 8px 0;
  font-size: 15px;
  resize: none;
  overflow: hidden;
  background-color: transparent;

  &:focus-visible {
    outline: none;
  }
}
.modal__image-area--wrapper {
  min-height: 300px;
  width: 100%;
  border: 1px solid $border-color-light-theme;
  border-radius: 10px;
}

.modal__avatar-area--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
}

.modal__haveAvatar-wrapper {

}

.modal__avatar-change-btn {
  padding: 4px 8px;
  color: #333;
  font-weight: 500;
  border-radius: 10px;
  background-color: $border-color-light-theme;
  // border: 2px solid $border-color-light-theme;

  &:hover {
    cursor: pointer;
  }
}

.modal__image-area--nonImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__image-area--haveImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden;

  .modal__image-preview {
    width: 100%;
  }

  .modal__image-area-overlay {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.15);

    .modal__select-label {
      position: absolute;
      top: 12px;
      left: 10px;
      color: #333;
      background-color: #fff;
    }
  }

  &:hover {
    .modal__image-area-overlay {
      display: block;
    }
  }
}

.modal__select-label {
  background-color: #0095f6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.modal__footer-wrapper {
  margin-top: 16px;
  width: 100%;
  height: auto;
}
.modal__footer-btn {
  float: right;
  padding: 6px 14px;
  color: #fff;
  font-weight: 600;
  background-color: #0095f6;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #0095f6;
    opacity: 0.9;
  }

  &.modal__btn-disabled {
    opacity: 0.7;
    &:hover {
      cursor: default;
    }
  }
}


// Delete modal
.delete__logo-wrapper {
  width: 250px;

}

.modal__delete-item {
  border-top: 1px solid $border-color-light-theme;
}


@keyframes scaleModal {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}