@import "../.././styles/_variable";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.7);
  overflow-y: auto;
  z-index: 98;
}

.modal__close-icon {
  position: absolute;
  font-size: 28px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal__box-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 90vh;
  background-color: #fff;
  border-radius: 20px;
  animation: scaleModal .1s linear;

  @apply dark:bg-[#262626];
}

.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__title-wrapper {
  padding: 0 0 12px 0;
  border-bottom: 1px solid $border-color-light-theme;
  @apply dark:border-b-[#262626];

}

.modal__body-wrapper {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-top: 8px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(181, 181, 181);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

.modal__caption {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(181, 181, 181);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

.modal__caption-input {
  min-height: 110px;
  width: 100%;
  padding: 6px 8px 8px 0;
  font-size: 15px;
  resize: none;
  overflow: hidden;
  background-color: transparent;

  &:focus-visible {
    outline: none;
  }
}
.modal__image-area--wrapper {
  min-height: 300px;
  width: 100%;
  border: 1px solid;
  border-color: $border-color-light-theme;
  border-radius: 10px;

  @apply dark:border-[#262626];
}

.modal__avatar-area--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 300px;
  width: 100%;
}

.modal__avatar-change-btn {
  padding: 4px 8px;
  color: #333;
  font-weight: 500;
  border-radius: 10px;
  background-color: $border-color-light-theme;

  &:hover {
    cursor: pointer;
  }
}

.modal__avatar-store-wrapper {
  border-radius: 10px;
  overflow: hidden;
}

.store__avatar-wrapper {
  position: relative;
  width: 100%;
  border-radius: 10px;

  &.selected {
    .store__avatar-overlay {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .store__avatar-selectIcon {
      display: block;
    }
  }

  &:hover {
    .store__avatar-overlay {
      display: flex;
    }  
  }

  .store__avatar-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    transition: all .2s linear;
  }
}

.store__avatar-selectIcon {
  display: none;
  animation: scaleModal .3s ease-in-out;
}

.modal__avatar-store-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100%;
}

.modal__image-area--nonImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal__image-area--haveImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  overflow: hidden;

  .modal__image-preview {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100%;
    width: 100%;
  }

  .modal__image-area-overlay {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.15);

    .modal__select-label {
      position: absolute;
      top: 12px;
      left: 10px;
      color: #333;
      background-color: #fff;
    }
  }

  &:hover {
    .modal__image-area-overlay {
      display: flex;
      justify-content: space-between;
    }
  }
}

.modal__select-label {
  background-color: #0095f6;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.modal__footer-wrapper {
  margin-top: 16px;
  width: 100%;
  height: auto;
}
.modal__footer-btn {
  float: right;
  padding: 6px 14px;
  color: #fff;
  font-weight: 600;
  background-color: #0095f6;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #0095f6;
    opacity: 0.9;
  }

  &.modal__btn-disabled {
    opacity: 0.7;
    &:hover {
      cursor: default;
    }
  }
}

.selectImg__dropdown {
  position: absolute;
  height: 118px;
  max-width: 420px;
  padding: 12px;
  right: 0;
  bottom: 42px;
  border-radius: 5px;
  background-color: rgba($color: #000000, $alpha: 0.5);
  overflow: hidden;

  .slider__container {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
}

.modal__image-preview-sub-btn {
    
  .modal__image-preview-sub {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100%;
    width: 90px;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.4);
    }
  }

  &+& {
    margin-left: 12px;
  }
}

.modal__slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.modal__slide-btn.btn-prev {
  left: 14px;
}
.modal__slide-btn.btn-next {
  right: 14px;
}

// Delete modal
.delete__logo-wrapper {
  width: 250px;
}

.modal__delete-item {
  border-top: 1px solid rgb(218, 221, 225);
  // @apply dark:border-t-[#262626];
}

// Create message Modal
.createMessageModal__header-wrapper {
  border-bottom: 1px solid rgb(218, 221, 225);
  // @apply dark:border-b-[#262626];

}

.createMessageModal__content-input {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  resize: none;
  border-bottom: 1px solid rgb(218, 221, 225);
  // @apply dark:border-b-[#262626];

  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    font-size: 14px;
  }
}

.createMessageModal__search-wrapper {
  display: flex;
  border-bottom: 1px solid $border-color-light-theme;
  // @apply dark:border-b-[#262626];

}

.createMessage__search-input {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;
  min-width: 50px;
  padding: 1px 14px;
  margin-bottom: 12px;
  margin-top: 3px;

  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    font-size: 14px;
    color: #999;
    font-weight: 400;
  }
}

.createMessageModal__sent-btn.disabled {
  opacity: .6;

}

.search__result-modal-list {
  max-height: 240px;
  overflow-y: auto;
}
.search__result-modal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &+& {
    border-top: 1px solid $border-color-light-theme;
  @apply dark:border-t-[#262626];

  }
}

.modal-select-checkbox {
  position: relative;
  -webkit-appearance: none; /* Remove default appearance */
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #666;


  &:checked::before {
    position: absolute;
    content: "\2713";
    font-size: 22px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background-color: #0077b6;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21px;
    height: 21px;
  }
}

.createMessageModal__suggestion-wrapper {
  max-height: 250px;
  overflow-y: auto;
}

.userSelected-label {
  border-radius: 20px;
  margin: 0px 4px 4px 4px;
  background-color: #e0f1ff;
}

.followModal__main {
  position: relative;
  width: 100%;
  min-height: 240px;
  max-height: 390px;
  overflow: auto;
}

.signup__modal-wrapper {
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 40px;
    border-top: 1px solid $border-color-light-theme;
  @apply dark:border-b-[#262626];


}

.viewImage__bg {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .viewImage__overlay {
    position: absolute;
    background-color: rgba(#000000, .5);
    backdrop-filter: blur(20px);


    .viewImage__Info-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 6px 60px;
      opacity: .1;
      background-color: #0a0908;
      transition: all .2s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    .viewImage-close-btn {
      background-color: rgba(#000000, .7);
    }
  }
}

.icon {
  @apply dark:text-[#FAFAFA];
}

@keyframes scaleModal {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}