@import "../../styles/variable";

$leftside-width: 194px;

.setting__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    @apply xl:px-[160px] lg:px-[120px] md:px-[10px] pt-[30px] pb-[50px] lg:pt-[50px] lg:pb-[80px];
}
.setting__box {
    display: flex;
    width: 100%;
    max-width: 890px;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid $border-color-light-theme;
  @apply dark:border-[#262626];

}

// Sidebar
.settingSidebar__wrapper {
    width: 230px;
    height: 100%;
    border-right: 1px solid $border-color-light-theme;
  @apply dark:border-[#262626];

}


.settingSidebar__header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 28px 20px 28px 32px;
    border-bottom: 1px solid $border-color-light-theme;
  @apply dark:border-b-[#262626];
}
.settingSidebar__logo-wrapper {
    padding-bottom: 8px;
}

.settingSidebar__option {
    padding: 28px 0;
}
.settingSidebar__option-list {
    width: 100%;
}
.settingSidebar__option-item {
    width: 100%;

    &+& {
        margin-top: 8px;
    }
}
.settingSidebar__option-link {
    position: relative;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 0px 8px 32px;

    @apply dark:text-[#FAFAFA];
    
    &:hover {
        background-color: $hover-color-light-theme;
        @apply dark:text-[#FAFAFA] dark:bg-[#121212];

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 2px;
            left: 0;
            top: 0;
            background-color: rgb(182, 181, 181);
            @apply dark:bg-white;
        }
    }

    &.active {
        font-weight: 600;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 2px;
            left: 0;
            top: 0;
            background-color: #222;
            @apply dark:bg-[#F5F5F5];
        }
    }
}


// Content
.settingContent__wrapper {
    width: calc(100% - 230px);
}

.setting__field-wrapper {
    @apply flex-col md:flex-row;

    &+& {
        margin-top: 24px;
    }
}

.setting__avatar-wrapper {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.setting__birthday-wrapper {
    padding-bottom: 8px;
}


.setting__input {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
    min-width: 220px;
    padding: 4px 6px;
    background-color: $hover-color-light-theme;
    border: 1px solid $border-color-light-theme;
    border-radius: 2px;

    @apply xl:min-w-[250px] lg:min-w-[260px] sm:min-w-[280px] min-w-[200px] dark:bg-[#262626] dark:text-[#FAFAFA] dark:border-[#262626];
}

.setting__story-input {
    padding: 8px 8px;
}

.setting__subnote {
    display: block;
    margin-top: 6px;
    font-size: 13px;
    font-weight: 400;
    color: #777;
    @apply xl:max-w-[250px] lg:max-w-[260px] sm:max-w-[280px] max-w-[200px] dark:text-gray-400;
}

.setting__rightside  {
    width: calc(100% - $leftside-width);
    @apply xl:pr-16 lg:pr-10 sm:pr-0
}
.setting__leftside {
    display: flex;
    justify-content: flex-end;
    width: $leftside-width;
    padding: 0 32px;
}