@import '../../styles/variable';

.forgotPassword__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 2px solid #666;
    border-radius: 50%;
}
.forgotPassword__icon {
    font-size: 50px;
    color: #666;
}

.forgotPassword__title {
    font-size: 14px;
    color: #444;
    font-weight: 600;
}
.forgotPassword__subtitle {
    font-size: 14px;
    text-align: center;
    color: #666;
    margin: 12px 0 20px 0;
}

.forgotPassword__resent-btn {
    text-decoration: underline;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 80px;
}

.forgotPassword__form {
    width: 100%;
    margin-bottom: 80px;
}

.forgotPassword__input {
    width: 100%;
    padding: 8px 6px;
    font-size: 15px;
    font-weight: 500;
    color: #555;
    background-color: #FAFAFA;
    border: 1px solid $border-color-light-theme;
    border-radius: 8px;

    &::placeholder {
        font-size: 14px;
        color: #888;
    }
    &:focus-visible {
        outline: none;
    }
}
.forgotPassword__btn {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 6px;
    margin-top: 12px;

    &.disabled {
        background-color: #8ecae6;
        cursor: default;
    }
}
.forgotPassword-error {
    color: red;
    font-size: 15px;
    font-weight: 500;
}

.forgotPassword__bottom-wrapper {
    font-size: 14px;
    color: #444;
    font-weight: 600;
}