@import '../../styles/variable';

.post__container {
    position: relative;
    background-color: #fff;
    border: 1px solid $border-color-light-theme;
    border-radius: 6px;
    overflow: hidden;

    &+& {
        margin-top: 22px;
    }
}

.post__dateCreated {
    position: relative;
    padding-left: 8px;
    margin-left: 8px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 4px;
        height: 4px;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #999;
    }
}


.post__option-button {
    padding: 8px 0 8px 12px;

    svg {
        font-size: 20px;
    }

    &:hover {
        svg {
            color: #666;
        }
    }
}

.post__option-dropdown--item {
    display: flex;
    justify-content: center;

    &:hover {
        background-color: $hover-color-light-theme;
    }

    &+& {
        margin-top: 4px;
    }
}

.post__option-dropdown-btn {
    width: 100%;
    font-size: 15px;
    padding: 8px 20px;
}

.wrap-text {
    word-wrap: break-word;
}