@import "../../styles/variable";

.post__container {
  position: relative;
  background-color: #fff;
  border: 1px solid $border-color-light-theme;
  border-radius: 6px;
  overflow: hidden;
  @apply dark:border-[#262626];


  & + & {
    margin-top: 22px;
  }
}

.post__dateCreated {
  position: relative;
  padding-left: 8px;
  margin-left: 8px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 4px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #999;
  }
}

.post__photo-bg {
  display: flex !important;
  max-height: 590px;
  justify-content: center;
  align-items: center;
}

.post-photo-img {
  max-height: 590px;
  max-width: 100%;
  min-height: 310px;
  width: 100%;
  object-fit: contain;
}

.post__option-button {
  padding: 8px 0 8px 12px;

  svg {
    font-size: 20px;
  }

  &:hover {
    svg {
      color: #666;
    }
  }
}

.post__option-dropdown--item {
  display: flex;
  justify-content: center;

  &:hover {
    background-color: $hover-color-light-theme;
    @apply dark:bg-[#121212];
  }

  & + & {
    margin-top: 4px;
  }
}

.post__option-dropdown-btn {
  width: 100%;
  font-size: 15px;
  padding: 8px 20px;

}

.post__caption.one-line pre {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__caption.two-lines pre {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__caption .see-more {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 4px 8px;
  border: 1px solid black;
  cursor: pointer;
}

.caption-text {
  display: inline;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
