@import '../../styles/variable';

.avatar__wrapper {
    border: 1px solid $border-color-light-theme;
    border-radius: 50%;
    overflow: hidden;
    @apply dark:border-[#262626];

    &.avatar__xs {
        width: 24px;
        height: 24px;
    }
    
    &.avatar__small {
        width: 42px;
        height: 42px;
    }
    
    &.avatar__medium {
        width: 56px;
        height: 56px;
    }

    &.avatar__big {
        width: 168px;
        height: 168px;
    }
    &.avatar__preview {
        width: 300px;
        height: 300px;
    }
}