@import "../../../styles/variable";

.message-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;

    &.mine {
        justify-content: flex-end;

        .message-bubble {
            background-color: #efefef;
            @apply dark:bg-[#262626]
        }
    }

    &.partner {
        justify-content: flex-start;

        .message-bubble {
            border: 1px solid $border-color-light-theme;
             @apply dark:border-[#262626];

        }

        &+& {
            .message-wrapper.partner:first-child {
                .message__avatar-box {
                    display: none;
                }
            }
    
            .message-wrapper.partner:not(:last-child) {
                .message__avatar-box {
                    display: none;
                }
            }

        }
    }

    &+& {
        margin-bottom: 9px;
    }
}

.message-bubble {
    display: flex;
    align-items: center;
    max-width: 234px;
    min-height: 44px;
    text-align: left;
    padding: 13px 16px;
    border-radius: 25px;
}

.message-image {
    display: flex;
    align-items: center;
    max-width: 234px;
    min-height: 44px;

    &:hover {
        cursor: pointer;
    }
}

.message-content {
    font-size: 14px;
    color: #262626;
    line-height: 120%;
    cursor: default;
}

.message__avatar-wrapper {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.message__avatar-box {
    width: 100%;
    height: 100px;
}
