@import "../../styles/variable";

.direct__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.direct__box {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid $border-color-light-theme;
}

// Sidebar
.drSidbar__wrapper {
  flex-shrink: 0;
  width: 350px;
  height: 100%;
  border-right: 1px solid $border-color-light-theme;
}

.drSidebar__header-wrapper {
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  border-bottom: 1px solid $border-color-light-theme;
  user-select: none;
}


.drSidebar__list {
  height: calc(100% - 60px);
  padding-top: 8px;
  padding-bottom: 20px;
  overflow-y: auto;
}

.drSidebar__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 24px 8px 20px;
  user-select: none;

  &.notSeen {
    .drSidebar__name-text {
      color: #262626;
      font-weight: 600;
    }

    .drSidebar__name-currentMessage {
      color: #262626;
      font-weight: 600;
    }

    .drSidebar__notSeen-notiSymbol {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $blue-primary;
    }
  }

  &:hover,
  &.active {
    cursor: pointer;
    background-color: $hover-color-light-theme;
  }

  & + & {
    margin-top: 4px;
  }
}

.drSidebar__name-wrapper {
  margin-left: 12px;
}
.drSidebar__name-text {
  font-size: 14px;
  color: #262626;
  font-weight: 400;
}
.drSidebar__name-currentMessage {
  display: block;
  display: -webkit-box;
  font-size: 13px;
  color: #8e8e8e;
  font-weight: 400;
  -webkit-line-clamp: 1; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Room
.drRoom__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.drRoom__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid $border-color-light-theme;
  z-index: 1;
}

.drRoom_content-wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    padding: 20px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

//   .drRoom_content-box {
//   }
}

.drRoom__chatInput-wrapper {
  min-height: 84px;
  padding: 20px;
}

.chatInput__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 6px 10px;
  border-radius: 20px;
  border: 1px solid $border-color-light-theme;
}
.chatInput__icon {
}
.chatInput__textarea-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  .chatInput__textarea {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    width: 100%;
    height: 34px;
    max-height: 110px;
    background-color: transparent;
    border: none;
    overflow: auto;
    padding: 8px 9px;
    resize: none;

    &:focus-visible {
      outline: none;
    }
    &::placeholder {
      font-size: 14px;
      font-weight: 500;
      color: #8e8e8e;
    }
  }
}
.chatInput__setImage {
}
