.suggestion__profile-wrapper-min+.suggestion__profile-wrapper-min,
.suggestion__skeleton-wrapper-min+.suggestion__skeleton-wrapper-min {
    margin-top: 15px;
}

.suggestion__profile-wrapper+.suggestion__profile-wrapper,
.suggestion__skeleton-wrapper+.suggestion__skeleton-wrapper {
    margin-top: 20px;
}

.suggestion__profile-wrapper {
    height: 42px;
}